<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mocha Spec Runner</title>
    <link rel="stylesheet" href="bower_components/mocha/mocha.css">
</head>
<body>
    <div id="mocha"></div>

  <div class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div href = "#" class="navbar-brand text">Wunder Note</div>
            <button class="navbar-toggle" data-toggle="collapse" data-target = ".navHeaderCollapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse navHeaderCollapse">
              <ul class = "nav navbar-nav navbar-right">
                <li class ="active"><a href="#">Home</a></li>
                <li class =""><a href="#">SignUp</a></li>
                <li class =""><a href="#">About</a></li>
                <!-- below is a drop down -->
                <li class ="dropdown">
                  <a href="#" class = "dropdown-toggle" data-toggle="dropdown">Connect <b class="caret"></b></a>
                  <ul class ="dropdown-menu">
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">LinkedIn</a></li>
                    <li><a href="#">Pinterest</a></li>
                    <li><a href="#">Google+</a></li>
                    <li><a href="#">Github</a></li>
                  </ul>            
                </li>
              </ul>
            </div>
          </div>
        </div>

<!-- content -->
        <div class="content">
          <div class="container">
            <div class="js-row row">
                <div class="col-md-3 sidebar">
                    <div class="content-nav">
                        <div class="title">Folders</div>
                        <ul class="folder-list">
                            <li class="js-all-todos">All</li>
                            <li class="js-active-todos">Active</li>
                            <li class="js-completed-todos">Completed</li>
                        </ul>
                        <div class="title">Tags</div>
                    </div>

                    
                </div>
              <div class="col-md-9 todo-tainer">
                <div class="center-div text-center">
                    <div class="hero-todo-input input-group input-group-lg">
                      <input type="text" class="js-todo-input form-control" placeholder="New todo...">
                      <span class="input-group-btn">
                        <button type="button" class="js-landing-todo-add add-button btn btn-inverse">
                          <span class=" glyphicon glyphicon-plus"></span>
                        </button>
                      </span>
                    </div>
                </div>
                <div class="todo-list js-todo-list">
                    </div>
                </div>
              </div>           
            </div>
          </div>
        </div>


<!-- footer below -->
        <div class="navbar navbar-default navbar-static-bottom">
          <div class="container">
            <span class ="navbar-text pull-left">Site by Bertino</span>
            <span class ="email-butt navbar-btn btn pull-right">Email</span>
          </div>
        </div>

        <script type="text/template" class="todo-template">
            <div class="note-item <%=done%>" id="todo-<%= id %>">
                <div class="action-bar">
                    <button type="button" class="completed todo-icons pull-left plus-button btn btn-default">
                      <span class="glyphicon glyphicon-ok"></span>
                    </button>
                    <button type="button" class="remove todo-icons pull-right plus-button btn btn-default">
                      <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <div class="description">
                    <span class = "task"><%= description %></span>
                </div>
                <div class="more-action-bar">
                     <button type="button" class="book todo-icons pull-left plus-button btn btn-default">
                      <span class="glyphicon glyphicon-book"></span>
                    </button>
                     <button type="button" class="more todo-icons pull-right plus-button btn btn-default">
                      <span class="glyphicon glyphicon-th-large"></span>
                    </button>
                </div>
            </div>
        </script>

    <script src="bower_components/mocha/mocha.js"></script>
    <script>mocha.setup('bdd')</script>
    <script src="bower_components/chai/chai.js"></script>
    <script>
        var assert = chai.assert;
        var expect = chai.expect;
        var should = chai.should();
    </script>

    <!-- include source files here... -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="../app/bower_components/jquery/jquery.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="../app/bower_components/underscore/underscore.js"></script>
    <script src="scripts/main.js"></script>
    <script src="../app/scripts/main.js"></script>

    <!-- include spec files here... -->
    <script src="spec/test.js"></script>

    <script>mocha.run()</script>
</body>
</html>
