$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';
@import "compass/css3/border-radius";

/* Space out content a bit */
body {
}

$darkgrey: #eeeeee;

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 0px;
    padding-bottom: 20px;
}

.content {
    height: 630px;
    margin-top: 10px;
    background: $darkgrey;

    .sidebar {
        height: 630px;
        border-right: 1px solid #fff;

        .sidebar-search {
            @include border-radius(6px);
            width: 210px;
            margin: 20px auto 10px; 
            padding-left: 10px;
        }
        .content-nav {
            width: 210px;

            .title {
                font-size: 20px;
                margin-top: 10px;
                border-bottom: 1px solid #fff;
                width: 210px;

            }
            ul {
                margin-top: 10px;
                list-style: none;
                padding-left: 20px;

                li {
                    border-bottom: 1px dashed darken($darkgrey, 10%);
                    margin: 5px auto;
                }
            }
        }
    }

    .todo-tainer {
        background: $darkgrey;
        height: 630px;

        .center-div {
            vertical-align: top;
            border-bottom: 1px solid black;

            .hero-todo-input {
                margin: 40px auto;
                width: 400px;
                padding-left: 10px;
                @include border-radius(6px);
            }
        }
        .todo-list {
            margin-top: 10px;
            height: 550px;
            overflow-y: scroll;
            overflow-x: hidden;  
            
            .note-item {
                position: relative;
                vertical-align: top;
                display: inline-block;
                height: 200px;
                width: 200px;
                margin: 10px;
                background: rgba(0, 217, 244, 0.15);

                .action-bar {
                    height: 30px;
                    border-bottom: 1px solid $darkgrey;

                    .todo-icons {
                        border: none;
                        background: none;

                        &.remove {
                            color: red;
                        }
                        &.completed {
                            color: green;
                        }
                    }
                }
                .description{
                    text-align: center;
                    width: 100%;
                    position: absolute;
                    top: 50%;
                    margin-top: -10px;
                }
                .more-action-bar {
                    width: 100%;
                    position: absolute;
                    bottom: 0px;
                    height: 30px;
                    border-top: 1px solid $darkgrey;

                    .todo-icons {
                        border: none;
                        background: none;

                        &.book {
                            
                        }
                        &.more {
                            
                        }
                    }
                }
            }
        }
    }
}
/* Supporting marketing content */
.marketing {
 
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 960px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
